# project configuration
.classpath
.project
.settings/
target/

# code quality plugin properties
.checkstyle
.pmd
sonar-project.properties
test-output/
.codepro/
.sonar/
dependency-reduced-pom.xml
build.xml
