<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [jsql-logback] %date{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %class{36}.%M %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>
    <!-- Disable massive SQL error logging during injection -->
    <!-- Detailed Exception must also be in try/catch -->
    <logger name="org.hibernate" level="OFF" additivity="false" />
    <!-- Hide informix warnings about selected database and transactions -->
    <logger name="com.mchange.v2.c3p0.SQLWarnings" level="OFF" additivity="false" />
    <!-- Hide XPATH syntax error on SQL containing unicode -->
    <logger name="com.zaxxer.hikari.pool.ProxyConnection" level="OFF" additivity="false" />
</configuration>