on:
  push:
    branches: [ master ]
    
env:
  MAVEN_NASHORN: ""
  MAVEN_BYTEBUDDY: ""
  DOCKER_RESOURCES: ./model/src/test/resources/docker

jobs:

  set-global-env-var:
    runs-on: ubuntu-latest
    steps:
      - id: set-vars
        env:
          DOCKER_RESOURCES: ${{ env.DOCKER_RESOURCES }}
        run: echo "DOCKER_RESOURCES=${DOCKER_RESOURCES}" >> $GITHUB_OUTPUT
    outputs:
      DOCKER_RESOURCES: ${{ steps.set-vars.outputs.DOCKER_RESOURCES }}

  build-jdk11:
    needs: set-global-env-var
    uses: ./.github/workflows/build-jdk11.yml
    with:
      DOCKER_RESOURCES: ${{ needs.set-global-env-var.outputs.DOCKER_RESOURCES }}
    secrets: inherit

  build-oracle:
    needs: set-global-env-var
    uses: ./.github/workflows/build-oracle.yml
    with:
      DOCKER_RESOURCES: ${{ needs.set-global-env-var.outputs.DOCKER_RESOURCES }}

  build-db2:
    needs: set-global-env-var
    uses: ./.github/workflows/build-vendor.yml
    with:
      DOCKER_RESOURCES: ${{ needs.set-global-env-var.outputs.DOCKER_RESOURCES }}
      NAME_VENDOR: db2

  build-sqlserver:
    needs: set-global-env-var
    uses: ./.github/workflows/build-vendor.yml
    with:
      DOCKER_RESOURCES: ${{ needs.set-global-env-var.outputs.DOCKER_RESOURCES }}
      NAME_VENDOR: sqlserver

  build-sybase:
    needs: set-global-env-var
    uses: ./.github/workflows/build-vendor.yml
    with:
      DOCKER_RESOURCES: ${{ needs.set-global-env-var.outputs.DOCKER_RESOURCES }}
      NAME_VENDOR: sybase

  build-vertica:
    needs: set-global-env-var
    uses: ./.github/workflows/build-vendor.yml
    with:
      DOCKER_RESOURCES: ${{ needs.set-global-env-var.outputs.DOCKER_RESOURCES }}
      NAME_VENDOR: vertica

  build-monetdb:
    needs: set-global-env-var
    uses: ./.github/workflows/build-vendor.yml
    with:
      DOCKER_RESOURCES: ${{ needs.set-global-env-var.outputs.DOCKER_RESOURCES }}
      NAME_VENDOR: monetdb

  build:
    needs: set-global-env-var
    uses: ./.github/workflows/build.yml
    with:
      DOCKER_RESOURCES: ${{ needs.set-global-env-var.outputs.DOCKER_RESOURCES }}
    secrets: inherit

  codeql:
    uses: ./.github/workflows/codeql.yml

  release:
    needs: [build-jdk11, build, build-db2, build-oracle, build-sqlserver, build-sybase, build-vertica, build-monetdb, codeql]
    uses: ./.github/workflows/release.yml
    secrets: inherit